.example {
  background-color: $slider-gradient;
  position: relative;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(
      to right,
      $slider-gradient 70%,
      $basic-gray 70%
    );
    padding: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
  }
}

.example__description {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 246px;
  }

  @media (min-width: $desktop-width) {
    grid-area: description;
    margin-bottom: 0;
  }
}

.example__header {
  @include indent-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  color: $headers-font;
  padding: 27px 0 33px 0;
  grid-area: header;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 43px 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -135px;
    padding: 0;
  }
}

.example__text {
  @include indent-reset;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 72px 0 69px 0;
    width: 436px;
  }
}

.example__results {
  @include indent-reset;
  list-style: none;
}

.example__slider {
  position: relative;
  grid-area: slider;
  z-index: 0;
}
