.page {
  height: 100%;
  font-family: var(--basic-font);
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
