.parameters-table {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 14px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.parameters-table__row {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-gray;
  }
}

.parameters-table__row td {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
  }
}

.parameters-table__row td:last-child {
  text-align: right;
  width: 70px;
}
