.program {
  min-height: 266px;
  background-color: $basic-gray;
  padding: 30px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 58px 51px;
  }

  &:first-child {
    background-image: url("../img/decorative/cat_slim.png");
    background-position: top 21px left 20px;
    background-repeat: no-repeat;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      background-position: top 81px right 62px;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      background-position: top 41px left 52px;
      background-size: 100px 106px;
    }
  }

  &:last-child {
    background-image: url("../img/decorative/cat_muscle.png");
    background-position: top 24px left 13px;
    background-repeat: no-repeat;
    background-size: 67px 50px;

    @media (min-width: $tablet-width) {
      background-position: top 91px right 28px;
      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      background-position: top 47px left 33px;
      background-size: 134px 100px;
    }
  }
}

.program__header {
  @include indent-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  margin-left: 71px;
  text-transform: uppercase;
  color: $headers-font;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 165px;
    margin-bottom: 73px;
  }
}

.program__text {
  @include indent-reset;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 23px;
  margin-bottom: 19px;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    border: none;
    padding: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 27px;
  }
}

.program__link {
  @include indent-reset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $headers-font;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;

  &:focus-visible {
    outline: 2px solid $basic-font;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 170px;
  }
}

.program__arrow {
  display: block;
  width: 32px;
  height: 10px;
  margin-left: 15px;
  background: url("../img/decorative/arrow.svg") center left no-repeat;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }

  .program__link:hover & {
    background: url("../img/decorative/arrow-1.svg") center left no-repeat;
  }
}

.program__link:active {
  opacity: 0.3;
}
