.results-list {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: min-content min-content;
  grid-template-areas: "weight time" "money money";
  column-gap: 31px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px auto;
    grid-template-rows: min-content;
    grid-template-areas: "weight time money";
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    grid-template-rows: min-content min-content;
    grid-template-areas: "weight time" "money money";
    row-gap: 35px;
  }
}

.results-list__item:not(:last-child) {
  padding-top: 16px;
  background: url("../img/decorative/weight_back.svg") top center no-repeat;
  background-size: 124px 64px;

  @media (min-width: $tablet-width) {
    background-size: 162px 72px;
  }
}

.results-list__item:not(:last-child) span {
  display: block;
  text-align: center;

  &:first-child {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &:last-child {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: $slider-gradient;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
      background-color: $basic-white;
    }

    @media (min-width: $desktop-width) {
      background-color: $slider-gradient;
    }
  }
}

.results-list__item--losing-weight {
  grid-area: weight;
}

.results-list__item--losing-weight span:last-child {
  width: 70px;

  @media (min-width: $tablet-width) {
    width: 100px;
  }
}

.results-list__item--spending-time {
  grid-area: time;
}

.results-list__item--spending-time span:last-child {
  width: 70px;

  @media (min-width: $tablet-width) {
    width: 135px;
  }
}

.results-list__item.results-list__item--spending-money {
  grid-area: money;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-left: auto;
    padding-top: 8px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 15px;
    text-align: left;
  }

  & span {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  & span:last-child {
    @media (min-width: $desktop-width) {
      margin-left: 63px;
    }
  }
}
