:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-grey: #f2f2f2;
  --basic-green: #68b738;
  --grey-bg: #eaeaea;
  --special-dark-grey: #444444;
  --special-dark: #111111;
  --social-grey: #666666;
  --special-grey: #cdcdcd;
  --form-border: #e7e7e7;
  --catalog-border: #ebebeb;
  --special-btn: #f2f2f2;
  --catalog-additional: #222222;
  --basic-font: "Arial", sans-serif;
  --special-font: "Oswald", "Arial", sans-serif;
}
